# Source files
src/
tests/

# Config files
.github/
.vscode/
.editorconfig
.eslintrc
.prettierrc
tsconfig.json
jest.config.js

# Git files
.git/
.gitignore

# Build artifacts
node_modules/

# Misc
*.log
.DS_Store